<div>
  <!--Drawer overlay-->
  <div id="drawer-overlay" class="drawer-overlay"></div>
  <!--Drawer-->
  <div id="nav-drawer" class="nav-drawer">
    <div class="drawer-header">
      <button
        id="close-drawer"
        class="close-drawer"
        aria-label="Close navigation menu"
      >
        <span class="close-icon">&times;</span>
      </button>
    </div>
    <div class="drawer-content">
      <a href="/index.html" class="nav-link">Home</a>
      <a href="../pages/About.html" class="nav-link">About</a>

      <!-- Services dropdown -->
      <a href="#" class="nav-link dropdown-toggle" id="services-dropdown"
        >Services <span class="dropdown-icon">▼</span></a
      >
      <div class="dropdown-content" id="services-dropdown-content">
        <a href="./pages/services/BrainSurgery.html" class="nav-link sub-link"
          >Brain Surgery</a
        >
        <a href="./pages/services/Cardiology.html" class="nav-link sub-link"
          >Cardiology</a
        >
        <a href="./pages/services/Gynaecology.html" class="nav-link sub-link"
          >Gynaecology</a
        >
        <a href="./pages/services/Orthopedics.html" class="nav-link sub-link"
          >Orthopedic</a
        >
      </div>
      <a href="./pages/Contact.html" class="nav-link">Contact</a>
    </div>
  </div>
</div>
