<div
  class="grid grid-cols-4 min-h-80 bg-black text-white p-12 max-[767px]:flex max-[767px]:flex-col max-[767px]:gap-6 border-t"
>
  <div class="links-container">
    <span>Logo</span>
    <p>
      We provide shutter repair service with fast service and reasonable prices.
    </p>
    <div class="flex gap-2">
      <div class="p-2">
        <svg
          role="img"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="fill-white"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>X</title>
          <path
            d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932ZM17.61 20.644h2.039L6.486 3.24H4.298Z"
          />
        </svg>
      </div>
    </div>
  </div>
  <div class="links-container">
    <h3>Services</h3>
    <a href="/pages/services/BrainSurgery.html">Brain Surgery</a>
    <a href="/pages/services/EyeHealth.html">Eye Health</a>
    <a href="/pages/services/Cardiology.html">Cardiology</a>
    <a href="/pages/services/Gynaecology.html">Gynaecology</a>
  </div>
  <div class="links-container">
    <h3>Quick Links</h3>
    <a href="#appoint">Appointment</a>
    <a href="../pages/Contact.html">Contact</a>
  </div>
  <div class="links-container">
    <h3>Opening Hours</h3>
    <span>We are always Open <b>24/7.</b></span>
  </div>
  <div class="col-span-full text-center mt-12">
    © Copyright Health 2025. All Rights Reserved.
  </div>
</div>
