<div class="h-[15rem] bg-[#3784a6] mt-5" id="sidebar">
  <a href="/pages/services/BrainSurgery.html">
    <span> > </span>
    <b>Brain Surgery</b>
  </a>
  <a href="/pages/services/EyeHealth.html">
    <span> > </span>
    <b>Eye Health</b>
  </a>
  <a href="/pages/services/Cardiology.html">
    <span> > </span>
    <b>Cardiology</b>
  </a>
  <a href="/pages/services/Gynaecology.html">
    <span> > </span>
    <b>Gynaecology</b>
  </a>
  <a href="/pages/services/Orthopedics.html">
    <span> > </span>
    <b>Orthopedics</b>
  </a>
</div>
