<div class="w-full min-h-[30rem] flex justify-center mt-10 flex-col">
  <div class="flex flex-col gap-2 text-center">
    <h2 class="text-3xl font-bold">We Offer You Excellent Service</h2>
    <p>You will make more progress.</p>
  </div>
  <div
    class="relative rounded-lg h-[25rem] w-[60%] max-[767px]:w-[90%] mx-auto mt-5 flex justify-center items-center"
  >
    <img
      src="./assets//images/66717dc833b216b1781afd9baee5c9a8.jpg"
      alt="grougdocs"
      class="object-cover w-full h-full rounded-md absolute inset-0"
    />
    <div
      class="player-icon size-32 rounded-full bg-[#3784a6] flex justify-center items-center text-white hover:bg-black transition-colors ease-out duration-300 cursor-pointer"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-14"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z"
        />
      </svg>
    </div>
  </div>
</div>
