<div class="bg-black">
  <div
    class="flex flex-col justify-center text-center items-center gap-3 text-white p-8"
  >
    <h3 class="text-3xl font-bold">Why Choose Us?</h3>
    <p>We care about your health.</p>
  </div>
  <div
    class="w-full min-h-[30rem] p-10 grid grid-cols-4 gap-8 self justify-items-center max-[767px]:grid max-[767px]:grid-cols-1"
  >
    <!-- Cards -->
    <div
      class="w-full border rounded-lg flex justify-center p-6 flex-col text-white items-center gap-2 text-center hover:bg-[#3784a6] cursor-pointer transition-colors ease-out duration-300 border-[#7777774c]"
    >
      <div class="size-16 p-3 bg-[#3784a6] rounded-lg">
        <img
          src="./assets/images/med cards/brainstorm_1786985.png"
          alt="brain"
        />
      </div>
      <div class="flex flex-col gap-2">
        <h3 class="text-2xl font-bold">Brain Surgery</h3>
        <p>
          Our hospital has adopted the principle of providing the best service
          with its specialist doctors in the field of Neurology.
        </p>
      </div>
      <div></div>
    </div>
    <div
      class="h-[20rem] w-full border rounded-lg flex justify-center p-6 flex-col text-white items-center gap-2 text-center hover:bg-[#3784a6] cursor-pointer transition-colors ease-out duration-300 border-[#7777774c]"
    >
      <div class="size-16 p-3 bg-[#3784a6] rounded-lg">
        <img src="./assets/images/med cards/eyeball_8628234.png" alt="eye" />
      </div>
      <div class="flex flex-col gap-2">
        <h3 class="text-2xl font-bold">Eye Health</h3>
        <p>
          Our hospital has adopted the principle of providing the best service
          with its specialist doctors in the field of Eye health.
        </p>
      </div>
      <div></div>
    </div>
    <div
      class="h-[20rem] border rounded-lg flex justify-center p-6 flex-col text-white items-center gap-2 text-center hover:bg-[#3784a6] cursor-pointer transition-colors ease-out duration-300 border-[#7777774c]"
    >
      <div class="size-16 p-3 bg-[#3784a6] rounded-lg">
        <img src="./assets/images/med cards/health_10813052.png" alt="heart" />
      </div>
      <div class="flex flex-col gap-2">
        <h3 class="text-2xl font-bold">Cardiology</h3>
        <p>
          Our hospital has adopted the principle of providing the best service
          with its specialist doctors in the field of Cardiology.
        </p>
      </div>
      <div></div>
    </div>
    <div
      class="h-[20rem] border-[#7777774c] border rounded-lg flex justify-center p-6 flex-col text-white items-center gap-2 text-center hover:bg-[#3784a6] cursor-pointer transition-colors ease-out duration-300"
    >
      <div class="size-16 p-3 bg-[#3784a6] rounded-lg">
        <img
          src="./assets/images/med cards/mother_2372513.png"
          alt="pregnant"
        />
      </div>
      <div class="flex flex-col gap-2">
        <h3 class="text-2xl font-bold">Gynaecology</h3>
        <p>
          Our hospital has adopted the principle of providing the best service
          with its specialist doctors in the field of Gynaecology.
        </p>
      </div>
      <div></div>
    </div>
    <div
      class="h-[20rem] border rounded-lg flex justify-center p-6 flex-col text-white items-center gap-2 text-center hover:bg-[#3784a6] cursor-pointer transition-colors ease-out duration-300 border-[#7777774c]"
    >
      <div class="size-16 p-3 bg-[#3784a6] rounded-lg">
        <img src="./assets/images/med cards/baby_2102832.png" alt="baby" />
      </div>
      <div class="flex flex-col gap-2">
        <h3 class="text-2xl font-bold">Child Health</h3>
        <p>
          Our hospital has adopted the principle of providing the best service
          with its specialist doctors in the field of Child Health.
        </p>
      </div>
      <div></div>
    </div>
    <div
      class="h-[20rem] border rounded-lg flex justify-center p-6 flex-col text-white items-center gap-2 text-center hover:bg-[#3784a6] cursor-pointer transition-colors ease-out duration-300 border-[#7777774c]"
    >
      <div class="size-16 p-3 bg-[#3784a6] rounded-lg">
        <img
          src="./assets/images/med cards/caregiver_4326691.png"
          alt="Physiotheraphy"
        />
      </div>
      <div class="flex flex-col gap-2">
        <h3 class="text-2xl font-bold">Physiotheraphy</h3>
        <p>
          Our hospital has adopted the principle of providing the best service
          with its specialist doctors in the field of Physiotheraphy.
        </p>
      </div>
      <div></div>
    </div>
    <div
      class="h-[20rem] border rounded-lg flex justify-center p-6 flex-col text-white items-center gap-2 text-center hover:bg-[#3784a6] cursor-pointer transition-colors ease-out duration-300 border-[#7777774c]"
    >
      <div class="size-16 p-3 bg-[#3784a6] rounded-lg">
        <img src="./assets/images/med cards/ear_508842.png" alt="ear" />
      </div>
      <div class="flex flex-col gap-2">
        <h3 class="text-2xl font-bold">Ear Nose Throat</h3>
        <p>
          Our hospital has adopted the principle of providing the best service
          with its specialist doctors in the field of Ear Nose Throat.
        </p>
      </div>
      <div></div>
    </div>
    <div
      class="h-[20rem] border rounded-lg flex justify-center p-6 flex-col text-white items-center gap-2 text-center hover:bg-[#3784a6] cursor-pointer transition-colors ease-out duration-300 border-[#7777774c]"
    >
      <div class="size-16 p-3 bg-[#3784a6] rounded-lg">
        <img
          src="./assets/images/med cards/first-aid_17958413.png"
          alt="medkit"
        />
      </div>
      <div class="flex flex-col gap-2">
        <h3 class="text-2xl font-bold">Endocrinology</h3>
        <p>
          Our hospital has adopted the principle of providing the best service
          with its specialist doctors in the field of Ear Endocrinology.
        </p>
      </div>
      <div></div>
    </div>
  </div>
</div>
